/**
  Budget table stylings
**/

table#budget-table {
  color: inherit;
  margin: 0 auto;

  td.budget-category-planned {
    text-align: center !important;
    span {
      cursor: pointer;
      padding-right: 8px;
    }
  }
  td.budget-category-name {
    white-space: normal !important;
  }
  td#planned-total::before,
  span.planned-value::before {
      content: "\0024";
  }
}

@media (max-width: $width-mobile-wide) {
  .table {
     tbody {
       td, td.text-right {
         width: 75px;
         padding: .25rem;
       }

     }
   }
}
