/**
  Budget table stylings
**/

table#budget-table {
  color: inherit;
  margin: 0 auto;

  td.budget-category-planned {
    text-align: center !important;
    span {
      cursor: pointer;
      padding-right: 8px;
    }
  }
  td.budget-category-name {
    white-space: normal !important;
  }
}
