@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quattrocento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100&family=Yantramanav:wght@100;300;400&display=swap');

// Body
$body-bg: rgb(255,255,255);

// Typography
$font-family-sans-serif: 'Heebo', sans-serif;
$font-weight-base: 300;
$font-size-base: .9375rem;
$line-height-base: 1.5;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light: #f8f9fa;

$ledgr-green: #98FB98;

$success: #38c172;
$yellow: #ffed4a;

// Dark slate grays
$darkgray: #383c42; //
$darkgrayrgb: rgb(56,60,66);
$darkgray2: #2d3238;
$darkgrayrgb2: rgb(45,50,56);
// #2d3238 rgb(45,50,56)
// #42464e rgb(66,70,78)
$linen: #f8f2ed; // rgb(248,242,237)
$linenrgb: rgb(248,242,237);
$silver: #b5b9c1; // rgb(181,185,193)
$silverrgb: rgb(181,185,193);


$width-mobile: 320px;
$width-mobile-hi-res: 415px;
$width-mobile-wide: 645px;
$width-tablet: 768px;
$width-monitor: 1080px;
$width-monitor-wide: 1440px;
$width-highres: 2560px;
