// Variables
@import 'variables';

// @import 'material-icons';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  height: 100vh;
}

footer {
  background-color: inherit;
  text-align: center;

  /* sticky footer */
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10px;
  line-height: 20px; /* Vertically center the text there */
}

.progress-bar-label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0;
}

.category-edit {
  font-size: 12px;
  max-width: 190px;
  min-width: 190px;
  width: 190px;
  label {
    font-size: 10px;
  }
}

#login-form {
  border: none;
  padding: 0;
  font-size: .75em;
}

#login-submit {
  width: 135px;
}
/*
#budget-table {
  border-top: lightgray solid 3px;
  margin: auto;
  td {
    min-width: 20vw;
  }
  td.budget-category-name {
    max-width: 15vw;
  }
}
*/
#add-new-category {
  margin-left: 2vw;
  margin-bottom: 3vh;
}

#api-token {
  display: none;
}

#manual-input-form {
  label {
    width: 100%;
    margin-bottom: 0;
    line-height: 10px;
    font-weight: 500;

  }

  input, select {
    margin-top: 0;
    width: 100%;
  }
}

#trans-table {
  max-height: 350px;
  overflow-y: scroll;
}

#login-dropdown {
  min-width: 18rem;
}

h1#landing-title {
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  line-height: 80vh;
}

h1#landing-title.landing-bg {
    background-color: #98FB98;
    transition: all 1s ease;
}

span#title-character {
  display: inline-block;
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(50px);
}

span#title-character.fade {
  opacity: 1;
  transform: translateY(0);
}


.bg-mint {
    background-color: #98FB98 !important;
    transition: all 1s ease;
    color: black;
}

.nav-item {
    font-size: 1.25rem !important;
}

.icon-size {
    font-size: 1.25rem;
}

.icon-edit {
    color: grey;
    margin-left: 5px;
    display: none;
}

.dropdown-toggle {
    text-decoration: none !important;
    color: black !important;
}

.dropdown-toggle:hover {
    color: grey !important;
}

.update-box-bg {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(152,152,152,0.1);
}

.password-requirements {
    ul {
        li.reject {
            list-style-image: url('svg/clear-24px.svg');
        }

        li.accepted {
            list-style-image: url('svg/add-24px.svg');
        }
    }
}

.success {
    color: green;
    list-style-type: disc;
}

td.budget-category-planned {
    cursor: pointer;
}

.icon {
    display: inline;
    vertical-align: middle;
}

.md-20 {
    font-size: 20px;
}

.md-18 {
    font-size: 18px;
}

.md-16 {
    font-size: 16px;
}

.md-14 {
    font-size: 14px;
}

.md-12 {
    font-size: 0.75rem;
}

.md-08 {
    font-size: 0.5rem;
}

.btn-outline-mint {
    color: #98FB98;
    border-color: #98FB98;

    &:hover {
        background-color: #98FB98;
        color: black;
    }
}
/*

  MEDIA QUERIES

*/
@media (max-width: 600px) {
  #manual-input-form {
    input, select {
      width: 100%;
    }
  }

  #login-dropdown {
    min-width: 20rem;
  }

  .navLinkExpand {
      display: none;
  }

  .icon-size {
      font-size: 2rem;
  }

}
