// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap');



// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  background-color: $body-bg;
  font-family: 'Noto Sans JP', 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  font-family: inherit;
  background-color: inherit;
  height: 100vh;
}

nav {
  li {
    display: inline-block;
    list-style-type: none;
    margin-right: 25px;
  }
}

footer {
  background-color: inherit;
  margin: 5px 0;
  text-align: center;

  /* sticky footer */
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20px;
  line-height: 20px; /* Vertically center the text there */
}

.tabs {
  height: 80px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.progress-bar-label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0;
}

.category-edit {
  font-size: 12px;
  max-width: 190px;
  min-width: 190px;
  width: 190px;
  label {
    font-size: 10px;
  }
}

#login-form {
  border: none;
  padding: 0;
  font-size: .75em;
}

#login-submit {
  width: 135px;
}

#budget-table {
  font-size: 18px;
  border-top: lightgray solid 3px;
  margin: auto;
  td {
    min-width: 22vw;
  }
}

#add-new-category {
  margin-left: 2vw;
  margin-bottom: 3vh;
}

#add-new-category::before {
  content: " + ";
}

#api-token {
  display: none;
}

#manual-input-form {
  label {
    width: 100%;
    margin-bottom: 0;
    line-height: 10px;
    font-weight: 500;

  }

  input, select {
    margin-top: 0;
    width: 100%;
  }
}

#trans-table {
  max-height: 350px;
  overflow-y: scroll;
}

#login-dropdown {
  min-width: 18rem;
}

h1#landing-title {
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  line-height: 80vh;
}

h1#landing-title.landing-bg {
    background-color: #98FB98;
    transition: all 1s ease;
}

span#title-character {
  display: inline-block;
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(50px);
}

span#title-character.fade {
  opacity: 1;
  transform: translateY(0);
}

/*

  MEDIA QUERIES

*/
@media (max-width: 600px) {
  #manual-input-form {
    input, select {
      width: 100%;
    }
  }

  #login-dropdown {
    min-width: 20rem;
  }
}
