/**
 * Forms
 */

 #manual-input-form {
    padding: 1rem;

    label {
        width: 100% !important;
        margin-bottom: 0 !important;
        line-height: 10px;
        font-weight: 500;

    }

    input, select {
        margin-top: 0;
        width: 100%;
    }
 }
