body {
  height: 100vh;
  width: 100vw;
  background-color: $green;
}

footer {
  background-color: inherit;
  text-align: center;

  /* sticky footer */
  position: relative;
  bottom: 0;
  margin-top: 20px;
  width: 100%;
  line-height: 15px; /* Vertically center the text there */
  color: #6C757D;
  font-size: .75rem;
  p {
      margin-bottom: .5rem;
  }
}

#content-container {
  background-color: $light;
}

.md-20 {
  font-size: 20px;
}

.md-18 {
  font-size: 18px;
}

.md-16 {
  font-size: 16px;
}

.md-14 {
  font-size: 14px;
}

.md-12 {
  font-size: 0.75rem;
}

.md-08 {
  font-size: 0.5rem;
}

.dark {
  background-color: rgb(28,31,43) !important;
  color: rgb(188,201,218);
}

div.progress.dark {
  background-color: rgb(188,201,218) !important;
}

div.modal-content.dark {
  background-color: rgb(28,31,43) !important;
  color: inherit;
}

input.manual-input.dark {
  background-color: rgb(188,201,218) !important;
  color: black;
}
