/**
 * Navbar
 */
.nav-list {
  margin-left: auto;
}
.nav-item {
  font-size: 1.25rem !important;
}

.navbar-brand {
  margin-left: 2rem !important;
}

.nav-item.dropdown {
  margin-right: 1rem;
}


/**
    Media Query
*/
@media (max-width: $width-mobile-wide) {
    .nav-item.dropdown {
        margin-right: 0;
    }

    .nav-link {
        padding: 0.5rem !important;
    }

    .navLinkExpand {
        display: none;
    }
}
