/*

  MEDIA QUERIES

*/
@media (max-width: $width-mobile-wide) {

  #manual-input-form {
    input, select {
      width: 100%;
    }
  }

  #login-dropdown {
    min-width: 20rem;
  }

  .navLinkExpand {
      display: none;
  }

  .icon-size {
      font-size: 2rem;
  }

  .nav-item.dropdown {
      margin-right: 0;
  }

  .nav-link {
      padding: 0.5rem !important;
  }

  .chart-container {
      height: 50vh;
      width: 90vw;
  }

}
