/*

  MEDIA QUERIES

*/
@media (max-width: 600px) {
  #manual-input-form {
    input, select {
      width: 100%;
    }
  }

  #login-dropdown {
    min-width: 20rem;
  }

  .navLinkExpand {
      display: none;
  }

  .icon-size {
      font-size: 2rem;
  }

  .nav-item.dropdown {
      margin-right: 0;
  }

  .nav-link {
      padding: 0.5rem !important;
  }

  .chart-container {
      height: 35vh;
      width: 75vw;
  }

}
