/**
 * Tables
 */
table {
  color: inherit !important;
  th {
    background-color: inherit;
  }
}

.category-edit {
  font-size: 12px;
  max-width: 190px;
  min-width: 190px;
  width: 190px;
  label {
    font-size: 10px;
    margin-bottom: 0 !important;
    margin-right: auto !important;
    width: 50% !important;
  }
  select {
    width: 50% !important;
    margin-right: auto !important;
  }
}

#trans-table {
  max-height: 350px;
  overflow-y: scroll;
}

.transaction-description, .transaction-amount {
  vertical-align: middle !important;
}

.selected {
  background-color: $green;
}

@media (max-width: $width-mobile-wide) {
    section.all-transactions {
      .table {
        font-size: .6rem;
        td {
          padding: 0;
        }
      }
    }    
}
