/**
 * Tables
 */

.category-edit {
  font-size: 12px;
  max-width: 190px;
  min-width: 190px;
  width: 190px;

  label {
    font-size: 10px;
  }
}

#trans-table {
  max-height: 350px;
  overflow-y: scroll;
}

table#budget-table {
    margin: 0 auto;

    td.budget-category-planned {
        text-align: center !important;
        span {
            cursor: pointer;
            padding-right: 8px;
        }
    }
    td.budget-category-name {
        white-space: normal !important;
    }
}
