/**
 * Account Page
 */

#api-token {
  display: none;
  justify-content: center;
}

#refresh-api-token {
  position: absolute;
  float: right;
  // left: calc(100% - 25%);
  right: calc(100% - 95%);
}



#api-display-container {
  background-color: #F5F8FA;
  border-radius: 5px;

  button {
    border-radius: 100px;
  }

}

#show-token_modal .modal-dialog.modal-dialog-centered {
  max-width: 600px;
}

button#display-api-token,
button#show-api-token,
button#refresh-api-token {
  color: #FFFF;
  font-weight: 600;
}

@media (max-width: $width-mobile-wide) {
  #api-display-container {
    margin-left: 10%;
    margin-right: 10%;
  }

  #refresh-api-token {
    right: calc(100% - 85%);
  }
}




