.dashboard-date {
  text-align: left !important;
  width: 50% !important;
  display: inline-block !important;
}

.dashboard-remaining {
  float: right !important;
  display: inline-block !important;
}

.total-spending {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.chart-container {
  position: relative;
  height: 45vh;
  width: 45vw;
  margin-bottom: 0 !important;
  padding-bottom: 0rem !important;
}

@media (max-width: $width-mobile-wide) {
    .chart-container {
        height: 50vh;
        width: 90vw;
    }
}
