.dashboard-date {
  text-align: left !important;
  width: 50% !important;
  display: inline-block !important;
}

.dashboard-remaining {
  float: right !important;
  display: inline-block !important;
}

.total-spending {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.chart-container {
  position: relative;
  height: 50vh;
  width: 45vw;
  margin-bottom: 0 !important;
  padding: 1rem;
}

#charts-container {
  margin: 1rem 0;
}

#transaction-table-container {
  max-height: 350px;
  overflow-y: scroll;
}

.tab-content {
    margin: 1rem 0;
}


@media (max-width: $width-tablet) {
    .chart-container {
        height: 55vh;
        width: 70vw;
    }
}

@media (max-width: $width-mobile-wide) {
    .chart-container {
        height: 40vh;
        width: 90vw;
    }
}

@media (max-width: $width-mobile-hi-res) {
    .chart-container {
        height: 28vh;
        width: 90vw;
    }
}
