/**
 * Progress Bars
 */

.progress-bar-label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
}

.progress-bars {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
